<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skypayjm.thack.packalist" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PackalistApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity_"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity_"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".PackListActivity_"
            android:label="@string/title_activity_pack_list" >
        </activity>
    </application>

</manifest>
